<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a home page 1+2 </h1>
    <h3><%= ["a", "b", "c"][2] %></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, modi natus. Minus ab natus recusandae voluptatibus, ullam dolore delectus, soluta rerum, ducimus nostrum sunt corrupti ut quis placeat optio ratione error asperiores explicabo ipsum amet unde? Deserunt accusantium doloribus dolorem adipisci reprehenderit ipsa omnis illo magnam vel debitis sit sunt similique ipsam animi, dolore enim!</p>
    <button>click me!</button>
</body>
</html>